
        	
            <div class="container_12">
            	
				<div class="grid_12">
				
				
					<div id="promo_01" class="promo-container primary-promo-container">
						
						<ul class="promo-navigation clean"></ul><!-- //promo-navigation (auto generated) -->
						
						<ul class="promos clean">
							<li><a href="#"><img src="./images/promos/promo01.jpg" alt="Promo" /></a></li>
							<li class="hidden"><a href="#"><img src="./images/promos/promo02.jpg" alt="Promo" width="940" height="400" /></a></li>
							<li class="hidden"><a href="#"><img src="./images/promos/promo03.jpg" alt="Promo" width="940" height="400" /></a></li>
						</ul><!-- // promo list -->
						
					</div><!-- //promo-container -->
					<script type="text/javascript">
						jQuery(function($){
							
							// Full options at http://jquery.malsup.com/cycle/options.html
							$('#promo_01 .promos').cycle({
								fx: 		'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
								pager: 		'#promo_01 .promo-navigation',
								pause: 		1
							});
							
						});
					</script>
					
				
				</div><!--//grid_12-->
                
                
                <div class="clear"></div><!--//clear columns-->
                
                
                
                <div class="grid_8">
                    <h2>交震CRM › 托管型云服务</h2>
                    <p>我们将系统置于云服务器平台之上，利用先进的科技技术，辅以成熟的营销学管理方法，为您提供稳定可靠的托管型客户关系管理系统解决方案。只需轻松几步，即可轻松部署、启动服务！</p>
                	
                    <div class="grid_4 alpha">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="./images/icons/exchange32.png" alt="Icon" class="left" />
                            	<h5><a href="#">Fast Turnaround</a></h5>
                                <p>Easy to set up, gets you started quickly</p>
                            </li>
                            <li class="clearfix">
                            	<img src="./images/icons/star32.png" alt="Icon" class="left" />
                            	<h5>Sure to be a favorite</h5>
                                <p>Impress your visitors!</p>
                            </li>
                            <li class="clearfix">
                            	<img src="./images/icons/check32.png" alt="Icon" class="left" />
                            	<h5>Quality Coding and Validation</h5>
                                <p>Well thought out with room to grow</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 alpha (nested column start)-->
                    
                    <div class="grid_4 omega">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="./images/icons/moneyreceipt32.png" alt="Icon" class="left" />
                            	<h5>Value Priced</h5>
                                <p>You can't beat the price!</p>
                            </li>
                            <li class="clearfix">
                            	<img src="./images/icons/plug32.png" alt="Icon" class="left" />
                            	<h5>jQuery Plugin Ready!</h5>
                                <p>Add any jQuery plugin and go</p>
                            </li>
                            <li class="clearfix">
                            	<img src="./images/icons/wordpress32.png" alt="Icon" class="left" />
                            	<h5>Coming to WordPress</h5>
                                <p>Watch for the WordPress version</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 omega (nested column end)-->
                    
                </div><!--//grid_8-->
                
                
                
                <div class="grid_4">
                	
                    <div class="widget">
                    	<h3 class="widgettitle">CRM</h3>
                        <p>客户关系管理(CRM) 是指管理您与客户（包括潜在客户）之间的关系。CRM 将各种业务流程、人员和技术结合在一起，实现并保持让客户满意这一目标。它是一种全方位战略，可帮助您更深入地了解客户及其行为，以便您与客户之间建立更牢固、更持久的双方互惠互利关系。如果没有对 CRM 引起高度重视，则企业很难取得成功。毕竟，所有业务行为均围绕客户展开。</p>
                    </div>
                    
                    <div class="widget">
                    	<h3 class="widgettitle">Features, Features, Features</h3>
                        <div id="promo_44">
							<ul>
                            	<!-- specify width/height when using HTML to help out older browsers slide HTML content -->
								<li class="clearfix" style="width:300px; height:55px;">
                                	<p><strong>jQuery Enhanced</strong><br />Take advantage of the many jQuery plugins out there already, this theme can handle it!</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Lightbox Included</strong><br />I've included an easy to use, flexible lightbox to showcase your work on the site.</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Tons of Sample Formatting</strong><br />Explore the site to see all the sample formatting included with your download.</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Lightbox Included</strong><br />I've included an easy to use, flexible lightbox to showcase your work on the site.</p>
                                </li>
							</ul>
							<p><a href="#" class="next">View Next Feature &raquo;</a></p>
						</div>
						<script type="text/javascript">
							jQuery(function($){ $("#promo_44 UL").cycle({ /* add options here */ fx:'scrollUp',next:'#promo_44 .next', timeout:0, speed:500 }); });
						</script>
                    </div>
                    
                
                </div><!--//grid_4-->
                
                
                
                <div class="clear"></div><!--//clear columns-->
                
                <div class="grid_12">
                    <p class="quotebox">
                        <small class="right">John Marks - <a href="#">FakeCo</a></small>
                        We were lost until we discovered your services five years ago and haven’t looked back, thanks for everything!
                    </p>
                </div><!--//grid_12-->
                
				
                
                
            </div><!-- //container_12 -->