
        	
            <div class="container_12">
            	
				<div class="grid_12">
				
				
					<div id="promo_01" class="promo-container primary-promo-container">
						
						<ul class="promo-navigation clean"></ul><!-- //promo-navigation (auto generated) -->
						
						<ul class="promos clean">
							<li><img src="/images/promos/promo01.jpg" alt="Promo" /></li>
							<li class="hidden"><img src="/images/promos/promo02.jpg" alt="Promo" width="940" height="400" /></li>
							<li class="hidden"><img src="/images/promos/promo03.jpg" alt="Promo" width="940" height="400" /></li>
						</ul><!-- // promo list -->
						
					</div><!-- //promo-container -->
					<script type="text/javascript">
						jQuery(function($){
							
							// Full options at http://jquery.malsup.com/cycle/options.html
							$('#promo_01 .promos').cycle({
								fx: 		'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
								pager: 		'#promo_01 .promo-navigation',
								pause: 		1
							});
							
						});
					</script>
					
				
				</div><!--//grid_12-->
                
                
                <div class="clear"></div><!--//clear columns-->
                
                
                
                <div class="grid_8">
                    <h2>选择网震™</h2>
                    <p>企业软件的最大问题就是功能和需求不匹配，敏捷开发模式能很好地解决这一问题，这是一场革命！优势何止6条？联系我们以了解更多！</p>
                	
                    <div class="grid_4 alpha">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="/images/icons/exchange32.png" alt="Icon" class="left" />
                            	<h5>功能每日更新</h5>
                                <p>新功能每天发布，实时把控开发进度。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/star32.png" alt="Icon" class="left" />
                            	<h5>竭诚欢迎修改要求</h5>
                                <p>我们欢迎在项目的任何阶段提出修改要求。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/check32.png" alt="Icon" class="left" />
                            	<h5>与业务人员紧密配合</h5>
                                <p>紧密配合，确保沟通效率。</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 alpha (nested column start)-->
                    
                    <div class="grid_4 omega">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="/images/icons/moneyreceipt32.png" alt="Icon" class="left" />
                            	<h5>降低成本</h5>
                                <p>保持精简，避免浪费，节省时间及开发成本。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/bargraph32.png" alt="Icon" class="left" />
                            	<h5>优雅简洁</h5>
                                <p>优雅的功能和界面，让软件更易上手。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/shieldcross32.png" alt="Icon" class="left" />
                            	<h5>稳定可靠</h5>
                                <p>测试驱动开发（TTD）让软件坚不可摧。</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 omega (nested column end)-->
                    
                </div><!--//grid_8-->
  


                
                
                
                <div class="grid_4">
                	
                    <div class="widget">
                    	<h3 class="widgettitle">关于我们</h3>
                        <p>公司介绍放在这里。</p>
                    </div>
                    
                    
                
                </div><!--//grid_4-->
                
                
                
                <div class="clear"></div><!--//clear columns-->
                
                
				
                
                
            </div><!-- //container_12 -->
