
        	
            <div class="container_12">
            	
				<div class="grid_12">
				
				
					<div id="promo_01" class="promo-container primary-promo-container">
						
						<ul class="promo-navigation clean"></ul><!-- //promo-navigation (auto generated) -->
						
						<ul class="promos clean">
							<li><a href="#"><img src="/images/promos/promo01.jpg" alt="Promo" /></a></li>
							<li class="hidden"><a href="#"><img src="/images/promos/promo02.jpg" alt="Promo" width="940" height="400" /></a></li>
							<li class="hidden"><a href="#"><img src="/images/promos/promo03.jpg" alt="Promo" width="940" height="400" /></a></li>
						</ul><!-- // promo list -->
						
					</div><!-- //promo-container -->
					<script type="text/javascript">
						jQuery(function($){
							
							// Full options at http://jquery.malsup.com/cycle/options.html
							$('#promo_01 .promos').cycle({
								fx: 		'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
								pager: 		'#promo_01 .promo-navigation',
								pause: 		1
							});
							
						});
					</script>
					
				
				</div><!--//grid_12-->
                
                
                <div class="clear"></div><!--//clear columns-->
                
                
                
                <div class="grid_8">
                    <h2>这是一场革命！</h2>
                    <p>企业软件的最大问题就是功能和需求不匹配，<strong>敏捷开发模式</stong>能很好地解决这一问题，这是一场革命！</p>
                	
                    <div class="grid_4 alpha">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="/images/icons/exchange32.png" alt="Icon" class="left" />
                            	<h5><a href="#">功能每日更新</a></h5>
                                <p>新功能每天发布，实时把控开发进度。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/star32.png" alt="Icon" class="left" />
                            	<h5>竭诚欢迎修改要求</h5>
                                <p>我们欢迎在项目的任何阶段提出修改要求。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/check32.png" alt="Icon" class="left" />
                            	<h5>与业务人员紧密配合</h5>
                                <p>紧密配合，确保沟通效率。</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 alpha (nested column start)-->
                    
                    <div class="grid_4 omega">
                    	<ul class="iconlist clean">
                        	<li class="clearfix">
                            	<img src="/images/icons/moneyreceipt32.png" alt="Icon" class="left" />
                            	<h5>降低成本</h5>
                                <p>保持精简，避免浪费，节省时间及开发成本。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/bargraph32.png" alt="Icon" class="left" />
                            	<h5>优雅简洁</h5>
                                <p>优雅的功能和界面，让软件更易上手。</p>
                            </li>
                            <li class="clearfix">
                            	<img src="/images/icons/shieldcross32.png" alt="Icon" class="left" />
                            	<h5>稳定可靠</h5>
                                <p>测试驱动开发（TTD）让软件坚不可摧。</p>
                            </li>
                        </ul>
                    </div><!-- grid_4 omega (nested column end)-->
                    
                </div><!--//grid_8-->
                
                
                
                <div class="grid_4">
                	
                    <div class="widget">
                    	<h3 class="widgettitle">CRM</h3>
                        <p>客户关系管理(CRM) 是指管理您与客户（包括潜在客户）之间的关系。CRM 将各种业务流程、人员和技术结合在一起，实现并保持让客户满意这一目标。它是一种全方位战略，可帮助您更深入地了解客户及其行为，以便您与客户之间建立更牢固、更持久的双方互惠互利关系。如果没有对 CRM 引起高度重视，则企业很难取得成功。毕竟，所有业务行为均围绕客户展开。</p>
                    </div>
                    
                    <div class="widget">
                    	<h3 class="widgettitle">Features, Features, Features</h3>
                        <div id="promo_44">
							<ul>
                            	<!-- specify width/height when using HTML to help out older browsers slide HTML content -->
								<li class="clearfix" style="width:300px; height:55px;">
                                	<p><strong>jQuery Enhanced</strong><br />Take advantage of the many jQuery plugins out there already, this theme can handle it!</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Lightbox Included</strong><br />I've included an easy to use, flexible lightbox to showcase your work on the site.</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Tons of Sample Formatting</strong><br />Explore the site to see all the sample formatting included with your download.</p>
                                </li>
                                <li class="clearfix hidden" style="width:300px; height:55px;">
                                	<p><strong>Lightbox Included</strong><br />I've included an easy to use, flexible lightbox to showcase your work on the site.</p>
                                </li>
							</ul>
							<p><a href="#" class="next">View Next Feature &raquo;</a></p>
						</div>
						<script type="text/javascript">
							jQuery(function($){ $("#promo_44 UL").cycle({ /* add options here */ fx:'scrollUp',next:'#promo_44 .next', timeout:0, speed:500 }); });
						</script>
                    </div>
                    
                
                </div><!--//grid_4-->
                
                
                
                <div class="clear"></div><!--//clear columns-->
                
                <div class="grid_12">
                    <p class="quotebox">
                        <small class="right">John Marks - <a href="#">FakeCo</a></small>
                        We were lost until we discovered your services five years ago and haven’t looked back, thanks for everything!
                    </p>
                </div><!--//grid_12-->
                
				
                
                
            </div><!-- //container_12 -->
